@font-face {
    font-family: "BeaufortForLOL";
    src: url("~/assets/fonts/beaufort-for-lol/BeaufortforLOL-Bold.ttf");
}

@font-face{
    font-family: "Spiegel";
    src: url("~/assets/fonts/Spiegel/SpiegelSans-5Regular_TRIAL.woff2");
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "BeaufortForLOL";
    cursor: url("~/assets/cursor.png"), auto;
}

.background {
    background-image: url("~/assets/Fundos/background.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}